<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Password Reset</title>
</head>
<body>
    <h2>Password Reset Request</h2>
    
    <p>Hello {{ user.get_full_name|default:user.username }},</p>
    
    <p>You're receiving this email because you requested a password reset for your account.</p>
    
    <p>Please click the link below to reset your password:</p>
    
    <p><a href="{{ protocol }}://127.0.0.1:8000{% url 'password_reset_confirm' uidb64=uid token=token %}">Reset Password</a></p>
    
    <p>If clicking the link doesn't work, copy and paste this URL into your browser:</p>
    <p>{{ protocol }}://127.0.0.1:8000{% url 'password_reset_confirm' uidb64=uid token=token %}</p>
    
    <p>If you didn't request this password reset, please ignore this email.</p>
    
    <p>Thanks,<br>Your Website Team</p>
</body>
</html>